/* PHASE 7: Online */
.profile-picture {
  position: relative;
  overflow: hidden; 
}

.online {
  position: absolute;
  padding: 5px;
  padding-right: 30px;
  padding-left: 50px;
  background: #0c0;
  color: white;
  transform: rotate(-40deg) translateX(-25%) translateY(-20%);
  /* transform: translateX(20px);
  transform: translateY(20px); */
  box-shadow: 0 1px 0 0 green;
  letter-spacing: 3px;
  font-weight: bold;
}